<%= render "shared/main_nav" %>
<main class="container" role="main">
  <h4 class="center"><%= page_title %></h4>
  <hr>

  <div class="card_container">
    <ul class="list-unstyled">
      <% students.each do |student| %>
      <li class="col-md-4 col-sm-6">
        <% if !current_user.has_viewed?(student) then %>
          <% redcard = "" %>
        <% else %>
          <% redcard = "card-red" %>
        <% end %>
        <section class="media well card <%= 'card-red' unless current_user.has_viewed?(student) %>">
          <div class="card-info">
          <div class="card-image">
            <% if show_link %>
              <%= link_to student do %>
                <%= image_tag student.image, height: 90, class: "media-object" %>
              <% end %>
            <% else %>
              <%= image_tag student.image, height: 90, class: "media-object" %>
            <% end %>
          </div>
          <div class="media-body">
            <h2 class="media-heading"> 
              <span class="cardTitle">
                <% if show_link %>
                  <%= link_to student.full_name, student %>
                <% else %>
                  <%= student.full_name %>
                <% end %>
              </span>
            </h2>
  
            <p>Age: <%= student.age %> years old</p>
            <p>Joined: <%= student.joined_at.strftime('%B %Y') %></p>
          </div>
          <div class="">
            <%= render student_action, student: student %>
          </div>
          </div>
        </section>
      </li>
      <% end %>
    </ul>
  </div>
</main>
