<li class="well note">
  <div class="noteHeader">
    <span class="noteHeaderItem-left"> <%= note.created_at.to_date.to_formatted_s(:long_ordinal) %> </span>
    <span class="noteHeaderItem-middle"> Creator: <%= note.author_name %> </span>
    <span class="noteHeaderItem-middle"> Importance Level: <%= note.importance %> </span>
    <span class="noteHeaderItem-right"> Mood:  <%= t(note.mood, scope: [:activerecord, :attributes, :note, :moods]) %> </span>
  </div>
  <hr/>
  <p>
  </p>
  <p><%= note.text %></p>

<%if note.comments().empty? %>
          <p> There are no comments for this note </p>
<%else %>
    <% for comment in note.comments() %>
        <%= comment.text %> - <%= comment.author_name %> <br/>
    <%end%>
<% end %>

  <p>
    <%= button_to "mark resolved", status_note_path(note), method: :put, form_class: "clearfix", class: "btn-link pull-right" %>
    <%= link_to "Add Comment", new_note_comment_path(note.id) %>
  </p>
</li>