<%= render "shared/main_nav" %>

<main class="container" role="main">
  <!-- Student Specific Data -->
  <section class="media well card">

<h1> Comment on a Note </h1>
Original Note:
<p><%= note.text %></p>
 <br/>

<%= form_for [note, comment] do |f| %>

	<div> <%= f.text_area :text, cols: 30, rows: 5, class: "well textEntry", placeholder: "Enter your comment..." %> </div>
	<div> <%= f.submit "Submit Comment", class: "btn" %> </div>

<% end %>
  
  </section>




  </div>
</main>
